/* Global styles */
body {
  background-color: #000000;
  color: #fff;
  margin: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666; /* Color of the scrollbar handle */
  border-radius: 5px; /* Roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888; /* Color of the scrollbar handle on hover */
}

.section-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.section-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.header {
  background-color: #131313;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header img {
  height: 50px;
  margin-right: 10px;
}

.social-links {
  margin-left: auto;
}

.social-links a {
  margin-left: 10px;
}

.social-links img {
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.1);
}

.hero_section {
  background-size: cover;
  background-position: center;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content {
  text-align: center;
}

.hero_section h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.cta-button {
  padding: 15px 25px;
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  cursor: pointer;
  border-radius: 9px;
  font-size: 18px;
}

.cta-button:hover {
  background-color: #ffffff;
  transition: 0.3s;
  color: black;
}

.dark-section_products {
  background-color: #131313; /* Dark background color */
  color: #fff; /* Text color */
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center align items */
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
}

.bundles-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; /* Add space between heading and bundles */
  font-size: 20px;
}

.bundle {
  background-color: #1f1f1f; /* Bundle background color */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333333;
  text-align: center;
  width: calc(240px - 20px); /* Adjust width to fit two bundles with margin */
  margin: 10px; /* Add margin around each bundle */
}

.bundle img {
  width: 100%;
  max-height: 180px; /* Limit image height */
  border-radius: 10px;
  object-fit: cover; /* Maintain aspect ratio */
}

.bundle h2 {
  margin-top: 10px;
  font-size: 18px;
}

.bundle p {
  font-size: 1.2em;
  margin: 5px 0;
}

.discounted_price {
  color: #777; /* Adjusted color for discounted price */
  text-decoration: line-through; /* Strike-through the price */
  margin-left: 5px; /* Add spacing between price and discount message */
}

.price {
  color: #777; /* Set price color to white */
}

.bundle p {
  font-size: 1.2em;
  margin: 5px 0;
  text-align: center; /* Center align the price and discount message */
}

.bundle button {
  background-color: transparent; /* Green */
  border: 1px solid #fff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block; /* Full width button */
  width: 100%; /* Full width button */
  font-size: 16px;
  border-radius: 25px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bundle button:hover {
  background-color: #ffffff; /* Darker green on hover */
  border: 1px solid #fff;
  color: black;
}

@media (max-width: 768px) {
  .bundle {
    width: calc(90% - 20px); /* Adjust width to fit one bundle with margin */
  }
}

.feedbackSection {
  color: #fff; /* Text color */
  padding: 20px;
  margin-top: 50px;
}

.feedbackSection section {
  margin: 0 auto; /* Center align form */
}

.feedbackSection {
  color: #fff; /* Text color */
  padding: 20px;
}

.feedbackSection section {
  max-width: 600px; /* Limit form width */
  margin: 0 auto; /* Center align form */
  text-align: center; /* Center align heading */
}

.heading_feedbackSection h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center; /* Center align input and button */
}

input[name="message"] {
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #777;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #444444;
  color: #fff;
  width: 100%; /* Take up full width */
  margin-top: 30px;
}

input[type="submit"] {
  background-color: #ffffff; /* Green */
  border: 1px solid #ffffff;
  color: black;
  padding: 16px 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px; /* Adjust button width */
  align-self: flex-start; /* Align button to the start of the container */
  margin-left: auto; /* Move button to the right */
  margin-top: 30px;
}

.footer {
  background-color: #131313; /* Dark background color */
  color: #fff; /* Text color */
  padding: 20px;
  text-align: center; /* Center align text */
  margin-top: 50px;
}

.footer-columns {
  display: flex;
  justify-content: center; /* Center align columns */
  flex-wrap: wrap; /* Allow columns to wrap on small screens */
}

.footer-column {
  flex: 1;
  margin: 0 10px; /* Adjust margin between columns */
}

.footer h3 {
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px;
}

/* Media query for small screens */
@media (max-width: 768px) {
  .footer-column {
    flex-basis: 100%; /* Each column takes full width on small screens */
    margin-bottom: 20px; /* Add margin between columns */
  }
}
/*Mobile css*/
@media (min-width: 312px) and (max-width: 600px) {
  .hero_section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.header_products_page {
  background-color: #131313; /* Dark background color */
  color: #fff; /* Light text color */
  padding: 20px; /* Add padding for spacing */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Align items horizontally */
  align-items: center; /* Align items vertically */
}

.header_products_page .icons {
  display: flex; /* Use flexbox for icon alignment */
}

.header_products_page .icons i {
  margin-left: 10px; /* Add margin between icons */
}

.header_products_page .icons img {
  width: 20px; /* Set width of the icons */
  height: 20px; /* Set height of the icons */
}

.header_products_page button {
  background-color: transparent;
  color: #fff; /* Light text color */
  border: none; /* Remove button border */
  padding: 10px; /* Add padding for button size */
  cursor: pointer; /* Add pointer cursor on hover */
  transition: color 0.3s; /* Smooth transition on hover */
}

.header_products_page button:hover {
  color: #444444; /* Darker color on hover */
}

.header_products_page h2 {
  margin: 0; /* Remove default margin for the heading */
}

.product-section {
  color: #fff;
  padding: 20px;
  text-align: center; /* Center align the content */
}

.product-details h2 {
  font-size: 40px;
}

.product-image img {
  width: 50%; /* Make the image fill the container */
  height:auto;
  display: block; /* Ensure image is centered */
  margin: 0 auto 20px; /* Center the image and add margin at the bottom */
}

.product-details {
  padding-left: 20px;
}

.price, .discounted-price {
  margin: 5px 0;
}

.price {
  font-size: 12px;
  text-decoration: line-through;
}

.discounted-price {
  font-size: 20px;
  color: #aaa; /* Adjust color for discounted price */
}

.buy-btn {
  background-color: white;
  color: black;
  border: 1px solid white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  padding: 12px 300px; /* Wider button padding */
}

.buy-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .product-section {
    padding: 20px; /* Reduce padding for better mobile layout */
  }
  
  .product-details {
    padding-left: 0;
  }
  
  .buy-btn {
    padding: 12px 100px; /* Adjusted padding for mobile */
  }
  .product-image img {
    width: 80%; /* Make the image fill the container */
    height:auto;
    display: block; /* Ensure image is centered */
    margin: 0 auto 20px; /* Center the image and add margin at the bottom */
  }
}

@media screen and (min-width: 768px) {
  .description-section {
    background: linear-gradient(to bottom, #131313, #131313);
    color: #ddd;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media screen and (max-width: 767px) {
  .description-section {
    background: linear-gradient(to bottom, #131313, #131313);
    color: #ddd;
    padding: 40px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.description-section h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff; /* White color for headings */
}

.description-section h4 {
  font-size: 24px;
  margin-top: 30px;
  color: #fff; /* White color for headings */
}

.description-section p {
  margin-bottom: 20px;
  line-height: 1.6;
  max-width: 600px; /* Adjust max-width as needed */
  margin-left: auto; /* Center align paragraphs */
  margin-right: auto; /* Center align paragraphs */
}

.description-section ul {
  list-style-type: disc;
  margin-left: 20px;
}

.description-section li {
  margin-bottom: 10px;
}

/* Custom Fonts */
.description-section {
  font-family: 'Arial', sans-serif;
}

/* Custom Button */
.description-section button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.description-section button:hover {
  background-color: #e63900;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative; /* Ensure the close button stays on top */
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #666;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.download-btn {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

