/* Global styles */
body {
  background-color: #000000;
  color: #fff;
  margin: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #333333; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666666; /* Color of the scrollbar handle */
  border-radius: 5px; /* Roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888; /* Color of the scrollbar handle on hover */
}

.section-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.section-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.header {
  background-color: #131313;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.header img {
  height: 50px;
  margin-right: 10px;
}

.social-links {
  margin-left: auto;
}

.social-links a {
  margin-left: 10px;
}

.social-links img {
  height: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.1);
}

.hero_section {
  background-size: cover;
  background-position: center;
  height: 87vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_content {
  text-align: center;
}

.hero_section h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.cta-button {
  padding: 15px 25px;
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  cursor: pointer;
  border-radius: 9px;
  font-size: 18px;
}

.cta-button:hover {
  background-color: #ffffff;
  transition: 0.3s;
  color: black;
}

.dark-section_products {
  background-color: #131313; /* Dark background color */
  color: #fff; /* Text color */
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center align items */
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 25px;
}

.bundles-heading {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; /* Add space between heading and bundles */
  font-size: 20px;
}

.bundle {
  background-color: #1f1f1f; /* Bundle background color */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333333;
  text-align: center;
  width: calc(240px - 20px); /* Adjust width to fit two bundles with margin */
  margin: 10px; /* Add margin around each bundle */
}

.bundle img {
  width: 100%;
  max-height: 180px; /* Limit image height */
  border-radius: 10px;
  object-fit: cover; /* Maintain aspect ratio */
}

.bundle h2 {
  margin-top: 10px;
  font-size: 18px;
}

.bundle p {
  font-size: 1.2em;
  margin: 5px 0;
}

.discounted_price {
  color: #777; /* Adjusted color for discounted price */
  text-decoration: line-through; /* Strike-through the price */
  margin-left: 5px; /* Add spacing between price and discount message */
}

.price {
  color: #777; /* Set price color to white */
}

.bundle p {
  font-size: 1.2em;
  margin: 5px 0;
  text-align: center; /* Center align the price and discount message */
}

.bundle button {
  background-color: transparent; /* Green */
  border: 1px solid #fff;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block; /* Full width button */
  width: 100%; /* Full width button */
  font-size: 16px;
  border-radius: 25px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bundle button:hover {
  background-color: #ffffff; /* Darker green on hover */
  border: 1px solid #fff;
  color: black;
}

@media (max-width: 768px) {
  .bundle {
    width: calc(90% - 20px); /* Adjust width to fit one bundle with margin */
  }
}

.feedbackSection {
  color: #fff; /* Text color */
  padding: 20px;
  margin-top: 50px;
}

.feedbackSection section {
  margin: 0 auto; /* Center align form */
}

.feedbackSection {
  color: #fff; /* Text color */
  padding: 20px;
}

.feedbackSection section {
  max-width: 600px; /* Limit form width */
  margin: 0 auto; /* Center align form */
  text-align: center; /* Center align heading */
}

.heading_feedbackSection h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

form {
  display: flex;
  align-items: center; /* Center align input and button */
}

input[name="message"] {
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #777;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: #444444;
  color: #fff;
  width: 100%; /* Take up full width */
}

input[type="submit"] {
  background-color: #ffffff; /* Green */
  border: 1px solid #ffffff;
  color: black;
  padding: 16px 20px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px; /* Adjust button width */
  align-self: flex-start; /* Align button to the start of the container */
  margin-left: auto; /* Move button to the right */
}


/*Mobile css*/
@media (min-width: 312px) and (max-width: 600px) {
  .hero_section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
}